:host {
  padding: 0 0.8rem;
}

.search-wrap {
  display: grid;
  grid-column-gap: 0.7rem;
  grid-template-columns: 2rem auto 2rem;
  align-items: center;
  background-color: #F2F2F2;
  padding: 0.35rem;
  border-radius: 0.7rem;

  .search-img {
    margin: 0 0.35rem;
    height: 1.5rem;
    width: 1.5rem;
  }

  .search-input {
    width: 100%;
  }

}
